.filter-pill-wrapper {
  display: inline-block;
}

.filter-pill-wrapper >>> .btn-outline-primary {
  border-radius: 20px;
}

.filter-pill-form {
  min-width: 280px;
}

.btn-filter-pill-clear {
  line-height: 1;
  border: none !important;
  padding: 2px !important;
  margin-left: 8px !important;
  border-radius: 50%;
}

.btn-filter-pill-clear:hover {
  background-color: rgb(255 255 255 / 20%) !important;
  color: white !important;
}

.btn-filter-pill-clear:focus {
  box-shadow: none !important;
}
